 /*  ========================================================================
  		Global Colors
 ========================================================================== */

$white: #FFFFFF;
$black: #000000; 

$green: rgb(0, 255, 153);
$green-dark: rgb(75,154,156);
$red: rgb(255,100,102);
$red-light: #FF5066;


$theme-colors: (
  "red":$red,
  "green":$green
);


